name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to run the workflow for'
        required: false
        default: ''

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    name: Build Neutron Image
    runs-on:
      group: Neutron-Core
    timeout-minutes: 30
    env:
      INPUT_TAG: ${{ github.event.inputs.tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.tag || github.ref }}

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Get version
        id: get_version
        run: |
          if [ -n "$INPUT_TAG" ]; then
            VERSION="$INPUT_TAG"
          else
            VERSION=$(git describe --tags --abbrev=0)
          fi
          if [ -z "$VERSION" ]; then
            echo "::error::Failed to determine version"
            exit 1
          fi
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: make build-static-linux-amd64

      - name: Push Docker image
        env:
          VERSION: ${{ env.VERSION }}
        run: |
          docker tag neutron-amd64:latest "neutronorg/neutron:${VERSION}"
          docker push "neutronorg/neutron:${VERSION}"
