name: Push

on: [push, pull_request]

jobs:
  tests:
    name: Test
    runs-on: ubicloud-standard-2
    steps:
      - name: Set up Go 1.23
        uses: actions/setup-go@v6
        with:
          go-version: ~1.23
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Proto format
        run: make check-proto-format

      - name: Test
        run: make test

